<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <title>SIS_PLP</title>
</head>

<body>

    <header class="header-container">    
        <nav class="site-nav">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li class="nav-hide"><a href="#0">About</a></li>
            </ul>
        </nav>
    
        <div class="actions">

            {{#if session.loggedin}}
            <a href="logout" class="sign-link">Sign Out</a>
            {{/if}}

            {{#unless session.loggedin}}
            <a href="register" class="sign-link">Register</a>
            <a href="login" class="sign-link">Login</a>
            {{/unless}}
        </div>
    </header>

    {{{body}}}
    
</body>

</html>