.problemsBox {
    border-radius: 15px;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.287);
}

.problem {
    border-radius: 10px;
    background-color: #0000007c; 
    margin: 1% 0%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
}

.problem * {
    flex: 1 1 0;
}

.queue {
    color: yellow;
}