<form action="login" method="POST" class="form-login">
    {{#if sucess}}
    <div class="form-group">
        <label class="form-success">Successfully create user!</label>
    </div>
    {{/if}}
    {{#if wrong_inputs}}
    <div class="form-group">
        <label class="form-error">Wrong username or password!</label>
    </div>
    {{/if}}
    {{#if no_inputs}}
    <div class="form-group">
        <label class="form-error">Missing username or password!</label>
    </div>
    {{/if}}
    <div class="form-group">
        <label for="inputEmail">Username</label>
        <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>