<form action="register" method="POST" class="form-login">
    {{#if existing_inputs}}
    <div class="form-group">
        <label class="form-error">Username or email already in use!</label>
    </div>
    {{/if}}
    {{#if no_inputs}}
    <div class="form-group">
        <label class="form-error">Missing fields!</label>
    </div>
    {{/if}}
    <div class="form-group">
        <label for="inputEmail">Username</label>
        <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputPassword">Email</label>
        <input type="email" class="form-control" id="inputPassword" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="sel1">Type:</label>
        <select class="form-control" id="sel1" name="type">
            <option>STUDENT</option>
            <option>MONITOR</option>
            <option>PROFESSOR</option>
            <option>ADMIN</option>
        </select>
    </div> 
    <button type="submit" name="register" class="btn btn-primary">Register</button>
</form>